.btn-outline-dark:hover{
    color:#252525;
    background-color: #d1d1d1 !important;
}
.btn-outline-secondary:hover{
    color:#454b50;
    border-color: #454b50;;
}
@media(max-width:524px){
    .filtro{
        font-size: 0.8em !important;
    }
}